@font-face {
  font-family: "Medodica";
  src: url("fonts/MedodicaRegular.ttf") format("truetype");
}

body {
  font-family: "Medodica", sans-serif;
}

body {
    --tab-bg: #dcdcdc;
    --tab-bg-active: BLACK;
    --tab-text-active: WHITE;
    --tab-text: #333;
    padding: 2rem;
    background: whitesmoke;
}

.tab-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0px;
}

.tab-menu li {
    margin: 0.75px;
}

.tab-menu__button{
    background: var(--tab-bg);
    color: var(--tab-text);
    appearance: none;
    border: 0;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-family: 'Medodica', sans-serif;
    font-weight: bold;
}
.tab-menu__button.active {
    background: var(--tab-bg-active);
    color: var(--tab-text-active);
    appearance: none;
    border: 0;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-family: 'Medodica', sans-serif;
    font-weight: bold;
}


.tab-panel {
	 display: none;
}
.tab-panel.active {
	 display: block;
     border: 2px solid black;
     padding: 2rem;
}

 
.tab-panel__heading {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

