body {
  --tab-bg: #dcdcdc;
  --tab-bg-active: black;
  --tab-text-active: white;
  --tab-text: #333;
  padding: 2rem;
}

.tab-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

  li {
    margin: 0.75px;

    &.active .tab-menu__button {
      background: var(--tab-bg-active);
      color: var(--tab-text-active);
    }
  }

  .tab-menu__button {
    background: var(--tab-bg);
    color: var(--tab-text);
    appearance: none;
    border: 0;
    padding: 0.75rem 1rem;
    cursor: pointer;
  }
  .tab-menu__button.is-active {
    background: var(--tab-bg-active);
    color: var(--tab-text-active);
  }
}

.tab-panel {
  display: none;

  &.active {
    display: block;
  }
}
